
  <form class="box" action="" method="post" *ngIf="!isSignedIn">
    <h1>Sign up</h1>
           <input
           placeholder="E-mail"
           type="text"
           #emailSignup
           />
           <input
                  placeholder="Password"
           type="password"
           #passwordSignup
           />
    <input (click)="onSignup(emailSignup.value,passwordSignup.value)" type="submit" value="Sign Up" name=""/>

      <h1>Sign In</h1>
           <input
                  placeholder="E-mail"
                  type="text"
                  #email
           />
           <input
                  placeholder="Password"
           type="password"
           #password
           />
           <input (click)="onSignin(email.value,password.value)" type="submit" value="Sign In" name="" />
  </form>

  <app-cabecalho *ngIf="isSignedIn" (isLogout)="handleLogout()"></app-cabecalho>
  <router-outlet *ngIf="isSignedIn" (isLogout)="handleLogout()"></router-outlet>
